#contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contato .contact-banner {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}

#contato .socials p {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

#contato .icons {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

#contato .icons a {
    background-color: #a972cb;
    font-size: 4rem;
    padding: 0 1.5rem;
    border-radius: 50%;
    transition: .3s;
}

#contato .icons a:hover {
    background-color: #9061ae;
}

#contato .message {
    margin-top: 2rem;
}

#contato .message p {
    text-align: center;
    font-size: 2.5rem;
}


@media(max-width:975px) {

    #contato .contact-banner img {
        max-width: 450px;
    }

    #contato .icons a {
        font-size: 3rem;
        padding: 0 1rem;
    }

    .ContactForm form .input-info {
        display: block;
        min-width: 420px;
    }

    .ContactForm form .input-info .group:nth-child(1) {
        margin-right: 0;
    }

    .ContactForm form .group-message {
        min-width: 420px;
    }
}